[data-action="loop"] {
  margin-left: 20px;
}

.pane-title {
  input[type="checkbox"] {
    margin-right: 10px;
  }
}

.slider.slider-horizontal {
  display: block;
  width: 100%;

  .slider-track, .slider-selection {
    background-color: rgba(14, 144, 210, .2);
    background-image: linear-gradient(to bottom, rgba(14, 144, 210, .1), rgba(14, 144, 210, 0));
  }
}
